{
  "skipped_author_name": "chef-restaurant@mail.local"
  "slack": {
    "notification": {
      "channel": "#chef-restaurant",
      "hook_url": "https://slack.hook.url.fixme.local"
    }
  },
  "github": {
    "organization": "myorg",
    "repo": "myrepo"
  }
}
